{% extends 'blog/base.html' %}

{% block content %}
	{% for post in posts %}
	    <div class="post">
	        <div class="date">
	        <br>
	            <p><font  size="2px">Created: {{ post.created_date|date:'d-m-Y' }}</font></p>
	        </div>

	        <div class="panel panel-primary">
	        	<div class="panel-heading">
	        	<h3 class="panel-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
	        	</div>
	        	<div class="panel-body">
	    		<p>{{ post.text|truncatechars:200 }}</p>
	    		</div>
	   		 </div>

	    </div>
	{% endfor %}
{% endblock %}
        